# MYSQL
MYSQL_ENGINE=
MYSQL_VERSION=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=whaticket
MYSQL_PORT=
TZ=

# BACKEND
BACKEND_PORT=
BACKEND_SERVER_NAME=api.anauedesign.com.br
BACKEND_URL=https://api.anauedesign.com.br
PROXY_PORT=443
JWT_SECRET=
JWT_REFRESH_SECRET=

# FRONTEND
FRONTEND_PORT=443
FRONTEND_SSL_PORT=443
FRONTEND_SERVER_NAME=app.anauedesign.com.br
FRONTEND_URL=https://app.anauedesign.com.br

# BROWSERLESS
MAX_CONCURRENT_SESSIONS=

# PHPMYADMIN
PMA_PORT=